// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "./custom";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

.card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .card-header {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #828282;
        background: none;
        border-bottom: none;
    }
    button {
        border-radius: 32px;
    }
}

.modal-content {
    .modal-header {
        border-bottom: none;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #333333;
    }
    button {
        border-radius: 32px;
    }
}
#create_bookmarks_form {
    label {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
    }
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #333;
        border-radius: 0;
    }
}
#bookmarks_table {
    input {
        background: none;
        border: none;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
    }
    input:focus {
        background: white;
        border: 1px solid #ededed;
    }
}
.section-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #828282;
}
.uppercase {
    text-transform: uppercase;
}
.sharable {
    margin: 5px;
}

#bookmark_preview {
    .preview-title {
        font-weight: bold;
        padding-top: 0.5rem;
    }
}
